* {
    font-family: 'Inter', sans-serif;
    font-size: large;
}

body {
    margin: 0 auto 0;
    width: 90%;
    max-width: 400px;
}

h1 {
    margin-top: 50px;
}

form {
    margin-top: -10px;
}

.label-and-input {
    display: flex;
    flex-direction: column;
}

label {
    font-size: small;
    margin-top: 30px;
    margin-bottom: 7px;
}

select, input, textarea {
    background-color: #f5f5f5;
    border: none;
    outline-color: #888;
    height: 50px;
    max-width: 400px;
    padding-left: 15px;
}

textarea {
    padding: 15px;
}

button {
    height: 50px;
    width: 200px;
}